/*Commons*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONTENITORE*/
.contenitore {
    width: 1300px;
    margin: 0 auto;
}


/*BOX*/
.box{
    display: inline-block;
    width: calc(100% / 3 - 10px);
    margin: 5px;
    
} 


.img1 {
    
}




/*DEBUG*/
.debug-contenitore {
    height: 1000px;
    background-color: aqua;
}

.debug-box {
    height: 600px;
    background-color: rgb(18, 240, 103);
}