/*Commons*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*CONTENITORE*/
.contenitore {
    width: 1300px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*BOX*/

.box{
    
    width: calc((100% / 3) - 10px);
    margin: 5px;
    position: relative;
    float: left;
    font-weight: bold;

} 

.img1 {
width: 100%;
height: 600px;
object-fit: cover;
margin: auto;
display: block;
    
}

.rosso {
    background-color: red;
    color: white;
    position: absolute;
    left: 0%;
    bottom: 5%;
    padding: 5px;
    margin-right: 10%;

}

.verde {
    background-color: green;
    color: white;
    position: absolute;
    left: 12%;
    bottom: 5%;
    padding: 5px;
}

.cuore {
    background-color: white;
    color: black;
    position: absolute;
    right: 0%;
    top: 5%;
    padding: 7px;
}



/*DEBUG*/
.debug-contenitore {
    height: 1000px;
    background-color: aqua;
}

.debug-box {
    height: 600px;
    background-color: rgb(18, 240, 103);
}